$mainColor: #89ddf4; // Define a SCSS variable

.main-header {
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.header {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

h1 {
    margin-top: 4vh;
    margin-bottom: 0;
    font-family: OhWhale;
    font-size: 8vh;
    color: rgb(87, 196, 221);
    text-shadow:3px 3px rgb(40, 126, 151);
}

h1 > span {
    display: inline-block;
    animation-name: wave;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin: -0.5vw;

}

h1 span:nth-child(1) {
    animation-delay: 0s;
}
h1 span:nth-child(2) {
    animation-delay: 0.2s;
}
h1 span:nth-child(3) {
    animation-delay: 0.3s;
}
h1 span:nth-child(4) {
    animation-delay: 0.4s;
}
h1 span:nth-child(5) {
    animation-delay: 0.5s;
}
h1 span:nth-child(6) {
    animation-delay: 0.6s;
}
h1 span:nth-child(7) {
    animation-delay: 0.7s;
}
h1 span:nth-child(8) {
    animation-delay: 0.8s;
}
h1 span:nth-child(9) {
    animation-delay: 0.9s;
}
h1 span:nth-child(10) {
    animation-delay: 1s;
}

@keyframes wave {
    00% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-1.5vh);
    }
    100% {
      transform: translateY(0em);
    }
  }


.bubbles {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: -30vh;
}

.bubbles > img {
    animation-name: bubble;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 9vh;
}

@keyframes bubble {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-60vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 1.8s;
}
.bubbles img:nth-child(2) {
    animation-delay: 2.5s;
}
.bubbles img:nth-child(3) {
    animation-delay: 1s;
}
.bubbles img:nth-child(4) {
    animation-delay: 2.8s;
}
.bubbles img:nth-child(5) {
    animation-delay: 0.8s;
}
.bubbles img:nth-child(6) {
    animation-delay: 1.8s;
}
.bubbles img:nth-child(7) {
    animation-delay: 2.8s;
}
.bubbles img:nth-child(8) {
    animation-delay: 1.6s;
}
